<html>
<head>
	<title>
		Home
	</title>
	<link href = "./stylesheets/application.css" type = "text/css" rel = "stylesheet">
	<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
	<link href='https://fonts.googleapis.com/css?family=Fira+Sans:300' rel='stylesheet' type='text/css'>
</head>
<body>
	<div>
		<% include ../partials/header %>
		<div>
			<span style = "font-size:1.5rem;padding-left:2rem">Welcome to Gallery, <%= user.fullname %></span>
		</div>
		<div>
			<div style = "text-align:center">
				<% if (galleries.length > 1){ %>
				There are <%= galleries.length %> galleries.
				<% }else{ %>
				There are <%= galleries.length %> gallery.
				<% } %>
			</div>
			<% for(var i = 0;i < galleries.length; i++){ %>

			<a class = "gallery-link" href = "/show/<%= galleries[i]._id %>">
				<div class = "gallery-name">
					<%= galleries[i].galleryName %>
				</div>
				<div class = "gallery-first-image">
					<img src = "../images/<%= galleries[i].images[0]%>" class = "index-image"></img>
				</div>
			</a>
			<% if (galleries[i].user === user.email){ %>
			<a href = "/delete/<%= galleries[i]._id %>">X</a>
			<% }else{ %>

			<% } %>
			<br />
			<% } %>
		</div>
	</div>
</body>
</html>